.btn {
	background: url("../images/action-sprite.png") 0 0 no-repeat transparent;
	border: 0;
	height: 22px;
	width: 22px;
}

.btn-add {
	background-position: 0 0;
}
.btn-add-inactive {
	background-position: 0 -22px;
}

.btn-cancel {
	background-position: -22px 0;
}
.btn-cancel-inactive {
	background-position: -22px -22px;
}

.btn-clone {
	background-position: -44px 0;
}
.btn-clone-inactive {
	background-position: -44px -22px;
}

.btn-delete {
	background-position: -66px 0;
}
.btn-delete-inactive {
	background-position: -66px -22px;
}

.btn-save {
	background-position: -88px 0;
}
.btn-save-inactive {
	background-position: -88px -22px;
}